body {
    margin: 20px;
}
header {
    text-align: center;
}

.container {
    padding: 20px;
    background: pink;
    width:1020px;
    overflow:hidden
}
.box {
    width: 200px;
    height: 200px;
    border:1px solid red;
    float: left;
}